.knight-tour-game {
    --light: hsl(from var(--foreground) h s 90%);
    --dark: hsl(from var(--background) h s 15%);
    width: min(100%, 480px);
    display: flex;
    flex-direction: column;
    place-items: center;

    @media (prefers-color-scheme: dark) {
        --light: hsl(from var(--foreground) h s 75%);
        --dark: hsl(from var(--background) h s 20%);
    }
}

.board-grid {
    box-sizing: content-box;
    width: 100%;
    margin-top: 4px;
    display: grid;
    grid-template-rows: repeat(var(--board-rows, 6), minmax(0, 1fr));
    grid-template-columns: repeat(var(--board-columns, 6), minmax(0, 1fr));
    border: 1px solid var(--foreground);
}

.board-cell {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    place-content: center;
    border: none;
    aspect-ratio: 1;
    cursor: pointer;
    container-type: inline-size;
    container-name: board-cell;
    transition: background-color 0.15s linear, color 0.15s linear;

    span {
        transform: scale(0);
        transition: transform 0.15s ease-in;
        font-size: 30cqw;
    }

    &--light {
        background-color: var(--light);
        color: var(--dark);
    }

    &--dark {
        background-color: var(--dark);
        color: var(--light);
    }

    &--current {
        background-color: var(--accent);
        color: var(--foreground);
        outline: 3px solid currentColor;
        outline-offset: -4px;
    }

    &:active:not(.board-cell--visited),
    &--start {
        outline: 3px solid currentColor;
        outline-offset: -5px;
    }

    &--hinted {
        &:after {
            content: '';
            width: 28%;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: var(--accent);
            border: 1px solid rgba(from currentColor r g b / 65%);
        }
    }

    &--visited {
        cursor: default;

        span {
            transform: scale(1);
            transition: transform 0.15s ease-out;
        }
    }

    @media (max-width: 1024px) {
        &--current {
            outline-width: 1px;
            outline-offset: -2px;
        }

        &:active:not(.board-cell--visited),
        &--start {
            outline-width: 1px;
            outline-offset: -2px;
        }
    }

    @media (prefers-color-scheme: dark) {
        &--current {
            color: var(--background);
        }
    }
}

.game-toolbar {
    display: flex;
    place-items: center;
    gap: 1rem;
    margin-top: 2rem;

    button {
        cursor: pointer;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        border: 1px solid var(--dark);
        background-color: var(--dark);
        color: var(--light);
        transition: opacity 0.15s linear, border-color 0.15s linear, background-color 0.15s linear, color 0.15s linear;

        &:hover {
            background-color: var(--foreground);
            color: var(--accent);
        }

        @media (prefers-color-scheme: dark) {
            border-color: var(--light);

            &:hover {
                background-color: var(--background);
            }
        }

        &:disabled {
            background-color: var(--background);
            border: 1px solid var(--foreground);
            color: var(--foreground);
            opacity: 0.5;
            cursor: default;
        }
    }
}

.game-status {
    width: 100%;
    margin-top: 1rem;
    border: 1px solid rgba(from currentColor r g b / 25%);
    border-radius: 4px 4px 0 0;
    padding-block: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    text-align: center;

    &--won {
        background-color: var(--accent);
        color: var(--dark);
    }

    &--stuck {
        background-color: var(--light);
        color: var(--dark);
    }

    &--playing {
        border-color: currentColor;
    }
}