.knight-tour-game {
    --light: hsl(from var(--foreground) h s 90%);
    --dark: hsl(from var(--background) h s 15%);
    width: min(100%, 480px);
    display: flex;
    flex-direction: column;
    place-items: center;

    @media (prefers-color-scheme: dark) {
        --light: hsl(from var(--foreground) h s 75%);
        --dark: hsl(from var(--background) h s 20%);
    }
}

.board-grid {
    box-sizing: content-box;
    width: 100%;
    margin-top: 4px;
    display: grid;
    grid-template-rows: repeat(var(--board-rows, 6), minmax(0, 1fr));
    grid-template-columns: repeat(var(--board-columns, 6), minmax(0, 1fr));
    border: 1px solid var(--foreground);
}

.board-cell {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    place-content: center;
    border: none;
    aspect-ratio: 1;
    cursor: pointer;
    container-type: inline-size;
    container-name: board-cell;
    transition: background-color 0.15s linear, color 0.15s linear;

    span {
        transform: scale(0);
        transition: transform 0.15s ease-in;
        font-size: 30cqw;
    }

    &--light {
        background-color: var(--light);
        color: var(--dark);
    }

    &--dark {
        background-color: var(--dark);
        color: var(--light);
    }

    &--current {
        background-color: var(--accent);
        color: var(--foreground);
        outline: 3px solid currentColor;
        outline-offset: -4px;
    }

    &:active:not(.board-cell--visited),
    &--start {
        outline: 3px solid currentColor;
        outline-offset: -5px;
    }

    &--visited {
        cursor: default;

        span {
            transform: scale(1);
            transition: transform 0.15s ease-out;
        }
    }

    @media (max-width: 1024px) {
        &--current {
            outline-width: 1px;
            outline-offset: -2px;
        }

        &:active:not(.board-cell--visited),
        &--start {
            outline-width: 1px;
            outline-offset: -2px;
        }
    }

    @media (prefers-color-scheme: dark) {
        &--current {
            color: var(--background);
        }
    }
}